<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> Evènement non validé pour les raisons suivantes:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container text-dark b fs-4 ">
 <div class="field">
    <%= form.label :admin_id%>
    <%= form.hidden_field :admin_id, value: current_user.id %>
  </div>
<br>
  <div class="field">
    <%= form.label :date_de_début %>
    <%= form.datetime_select :start_date %>
  </div>
<br>
  <div class="field">
    <%= form.label :Durée %>
    <%= form.number_field :duration %>
  </div>
<br>
  <div class="field">
    <%= form.label :Thème %>
    <%= form.text_field :title %>
  </div>
<br>
  <div class="field">
    <%= form.label :Description %>
    <%= form.text_area :description %>
  </div>
<br>
  <div class="field">
    <%= form.label :Prix %>
    <%= form.number_field :price %>
  </div>
<br>
  <div class="field">
    <%= form.label :Lieu %>
    <%= form.text_field :location %>
  </div>
<br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
