<%= form_with url: event_attendances_path(params[:event_id]),local: true, method: :post do |form| %>

  

  <div class="field">
    <%= form.label :event_id %>
    <%= form.text_field :event_id, value: @event.id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :guest_id, value: current_user.id %>
  </div>

<%= form_tag event_attendances_path do %>
  <article>
  <%if @event.price !=0%>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Son prix est de : <%=@event.price %> €</span>
    </label>
  </article>
  <br/>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
  data-description="Achat d'un produit"
  data-amount=<%= @stripe_amount %>
  data-currency="eur"
  data-locale="auto"></script>
  


<%else%>
  <div class="actions">
    <%= form.submit %>
  </div>
<%end%>
<%end%>
<%end%>